*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
body{
    font-family: 'Manrope', sans-serif;
    background-color: hsl(210, 46%, 95%);
}

.flexBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    max-width: 44rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 8px 10px 1px rgb(198, 205, 211);
    border-radius: .7rem;
}
.image{
    flex-basis: 40%;
    overflow: hidden;
}
.image img{
    width: 120%;
    height: 100%;
}

.content{
    flex-basis: 50%;
    margin: 2rem 0rem 2rem 2.5rem;
}
.content p{
    color: hsl(214, 17%, 51%);
}
.inner-content{
    margin-bottom: 1rem;
}
h3{
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}
p{
    font-size: small;
}
.profile{
    display: flex;
    position: relative;
    align-items: center;
}
.profilepic{
    width: 2.5rem;
    border-radius: 2.5rem;
    margin-right: 1rem;
}
.name{
    font-size: small;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}
.date{
    font-size: small;
    color: hsl(212, 23%, 69%);
}
.share{
    height: 2rem;
    width: 2rem;
    border-radius: 1.5rem;
    position: relative;
    right: -9rem;
    background-color: hsl(210, 46%, 95%);
    cursor: pointer;
    transition: all 200ms;
}
.share img{
    height: 1rem;
    width: 1rem;
    transform: translate(50%, 40%);
    
}
.share .links{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 10rem;
    height: 2rem;
    bottom: 170%;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsl(217, 19%, 35%);
    padding: 0.7rem 2rem;
    border-radius: .7rem;
    box-shadow: 2px 5px 15px 5px hsl(210, 46%, 95%);
    opacity: 0;
    pointer-events: none;
    transition: all 200ms;
}
.share .links:before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    width: 1rem;
    height: 1rem;
    background-color: hsl(217, 19%, 35%);
}
.share .links p{
    line-height: 2rem;
    letter-spacing: .3rem;
    font-size: small;
    color: hsl(212, 23%, 69%);
}
.active .links{
    opacity: 1;
    transition: all 200ms;
}

.active{
    background-color: hsl(217, 19%, 35%);
    transition: all 200ms;
}
.active .arrow{
    filter: invert(100%) sepia(12%) saturate(100%) hue-rotate(191deg) brightness(200%) contrast(114%);
}
.attribution{
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
    .flexBox{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        max-width: 20rem;
        margin: 5% 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        box-shadow: 0 8px 10px 1px rgb(198, 205, 211);
    }
    .image{
        height: 13rem;
        overflow: hidden;
    }
    .image img{
        width: 100%;
        height: 100%;
    }
    .content{
        flex-basis: 50%;
        margin: 2rem 2rem 1rem 2rem;
    }
    .content p{
        margin-bottom: 2rem;
    }
    .profilepic{
        z-index: -2;
    }
    .id{
        z-index: -2;
    }
    .share{
        position: absolute;
        height: 2rem;
        width: 2rem;
        border-radius: 1.5rem;
        position: relative;
        right: -20%;
        top: .5rem;
        background-color: hsl(210, 46%, 95%);
        cursor: pointer;
        transition: all 200ms;
    }
    .share .links{
        position: absolute;
        z-index: -1;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 16rem;
        height: 2rem;
        bottom: -1rem;
        left: 0;
        right: 10rem;
        transform: translateX(-79%);
        background-color: hsl(217, 19%, 35%);
        padding: 1rem 2rem .7rem 2rem;
        border-radius: 0 0 12px 12px;
        box-shadow: 2px 5px 15px 5px hsl(210, 46%, 95%);
        opacity: 0;
        pointer-events: none;
        transition: all 200ms;
    }
    .share .links p{
        margin-right: 1rem;
    }
    .share .links img{
        margin-right: 1rem;
    }
    .share .links:before{
        display: none;
    }
    .active{
        background-color: hsl(212, 23%, 69%);
        transition: all 200ms;
    }
    .active .links{
        opacity: 1;
        transition: all 200ms;
    }
    .active .arrow{
        filter: invert(100%) sepia(12%) saturate(100%) hue-rotate(191deg) brightness(200%) contrast(114%);
    }
    .attribution{
        display: none;
    }
}
    
